  * {
    box-sizing: border-box;
  }

  body {
    background-image: url(tausta.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .container-fluid {
    text-align: center;
    color: white;
  }

  #header {
    background-color: black;
    padding: 70px;
    opacity: 50%;
    width: 100%;
  }

  #sidebar {
    height: 200vh;
    background-color: black;
    float: left;
    width: 14%;
    opacity: 65%;
    padding: 20px;
  }

  .sidebar {
    list-style: none;
    text-decoration: none;
    line-height: 25px;
  }

  .navilista {
    columns: 4;
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    color: white;

  }

  .navi {
    padding: 20px;
    text-decoration: none;
  }

  #nav {
    background-color: white;
    padding: 20px;
    opacity: 65%;
  }

  #section {
    background-color: black;
    height: 200vh;
    padding: 50px 200px;
    opacity: 93%;
    float: left;
    width: 86%;

  }

  #footer {
    background-color: black;
    padding: 50px;
    opacity: 20%;
    position: fixed;
    bottom: 0;
    width: inherit;
    height: 50px;
  }

  h1 {
    color: white;
    font-size: 30px;
    padding: 10px 150px 10px 150px;
  }

  h2, h3, h4, h5, h6 {
    color: white;
    font-size: 20px;
    opacity: 60%;
    padding-left: 150px;
    padding-right: 150px;
  }

  p {
    color: white;
    font-size: 15px;
    padding-left: 400px;
    padding-right: 400px;
  }

  ul {
    color: white;
    font-size: 15px;
    display: inline-block;
    text-align: left;
    list-style-type: square;
    }

  .list {
    columns: 2;
  }

  ol {
    color: white;
    font-size: 15px;
    display: inline-block;
    text-align: left;
    }

  figcaption {
    color: white;
    font-size: 10px;
  }

  label {
    color: white;
  }

  .navi {
    color: #654321;
  }

  .navi:visited {
    color: #654321;
  }

  .navi:hover {
    color: #006400;
  }

  .navi:active {
    color: #006400;
  }
