  body {
    background-image: url(metstausta.jpg);
    background-position: center;
    background-attachment: fixed;

  }
  h {
    text-align: center;
    background-color: white;
    font-family: sans-serif;

  }

  p {
    color: white;
    font-family: sans-serif;
    text-align: center;

  }
