  body {
    background-image: url(metstausta.jpg);
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
    text-align: center;
    background-color: black;

  }

  h1 {
    background-color: white;
    font-size: 20px;
    padding: 10px;

  }

  h2 {
    background-color: white;
    font-size: 15px;
    opacity: 65%;

  }

  h3 {
    background-color: white;
    font-size: 15px;
    opacity: 65%;


  }

  h4 {
      color: #c5e1a5;
      font-size: 15px;

  }

  p {
    color: #c5e1a5;
    font-size: 12px;

  }

  ul {
    color: white;
    font-size: 12px;
    columns: 2;
    display: inline-block;
    text-align: left;
    list-style-type: square;
    border: 2px dotted #CFB53B;

  }

  ol {
    color: white;
    font-size: 12px;
    display: inline-block;
    text-align: left;
    list-style-type: lower-alpha;

  }

  /* .element {
    width: 100px;
    height: 100px;

  } */

  .list {
    text-align: left;
    display: inline-block;
  }

  a {
    color: white;
  }

  a:visited {
    color: #654321;
  }

  a:hover {
    color: #006400;
  }

  a:active {
    color: #006400;
  }
